@model IEnumerable<Macaque.Base.BusinessEntity.UserEntity>
<div style="float:left; margin:5px; padding-left:5px" >
        <table>
            <tr>
                <th>ID</th>
            </tr>
            <tr>
                <th>Name</th>
            </tr>
            <tr>
                <th>Password</th>
            </tr>            
        </table>
    </div>
@foreach (var item in Model)
{
    <div style="float:left; margin:5px; padding-left:5px" >
        <table>
            <tr>
                <td>@item.ID</td>
            </tr>
            <tr>
                <td>@item.UserName</td>
            </tr>
            <tr>
                <td>@item.Password</td>
            </tr>            
        </table>
    </div>
}
