@model Macaque.Base.Web.Models.ForgotPasswordModel
@{
    ViewBag.Title = "ForgotPassword";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>

</hgroup>

@using (Html.BeginForm())
{
    <fieldset>
        <legend>Registration Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.UserId)
                @Html.TextBoxFor(m => m.UserId)
            </li>
        </ol>
        @{
    var status = Convert.ToInt32(ViewData["FORGOT_STATUS"]);
    string status_display = "";
    if (status == 1)
    {
        status_display = "Email sent";
    }
    else if (status == -1)
    {
        status_display = "User not found";
    }
        }
        <div>
            @status_display
        </div>

        <input type="submit" value="Forgot Password" />
    </fieldset>
}