USE [master]
GO
/****** Object:  Database [Test]    Script Date: 2/3/2015 10:13:23 AM ******/
CREATE DATABASE [Test] ON  PRIMARY 
( NAME = N'Test', FILENAME = N'c:\Program Files (x86)\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\Test.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Test_log', FILENAME = N'c:\Program Files (x86)\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\Test_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Test].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Test]
GO
/****** Object:  Table [dbo].[T_CODE]    Script Date: 2/3/2015 10:13:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_CODE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CATEGORY] [varchar](50) NOT NULL,
	[CODE] [varchar](50) NOT NULL,
	[CODE_DESC] [varchar](500) NOT NULL,
 CONSTRAINT [PK_T_CODE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[T_FUNCTION]    Script Date: 2/3/2015 10:13:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_FUNCTION](
	[FUNCTION_CODE] [varchar](50) NOT NULL,
	[FUNCTION_DESC] [varchar](100) NOT NULL,
 CONSTRAINT [PK_T_FUNCTION] PRIMARY KEY CLUSTERED 
(
	[FUNCTION_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[T_ROLE]    Script Date: 2/3/2015 10:13:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_ROLE](
	[ROLE_CODE] [varchar](50) NOT NULL,
	[ROLE_DESC] [varchar](100) NOT NULL,
 CONSTRAINT [PK_T_ROLE_1] PRIMARY KEY CLUSTERED 
(
	[ROLE_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[T_ROLE_FUNCTION]    Script Date: 2/3/2015 10:13:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_ROLE_FUNCTION](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ROLE_CODE] [varchar](50) NOT NULL,
	[FUNCTION_CODE] [varchar](50) NOT NULL,
 CONSTRAINT [PK_T_ROLE_FUNCTION] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[T_USER]    Script Date: 2/3/2015 10:13:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_USER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[USER_ID] [varchar](50) NOT NULL,
	[USER_NAME] [varchar](500) NOT NULL,
	[USER_PWD] [varchar](500) NOT NULL,
	[GENDER] [varchar](50) NOT NULL,
	[MOBILE_NUMBER] [varchar](8) NULL,
	[EMAIL_ADDRESS] [varchar](250) NULL,
	[GRADE] [varchar](50) NULL,
	[IS_DELETED] [bit] NOT NULL CONSTRAINT [DF_T_USER_IS_DELETED]  DEFAULT ((0)),
	[CREATED_BY] [varchar](50) NOT NULL CONSTRAINT [DF_T_USER_CREATED_BY]  DEFAULT ('SYSTEM'),
	[CREATED_DATE] [datetime] NOT NULL CONSTRAINT [DF_T_USER_CREATED_DATE]  DEFAULT (getdate()),
	[UPDATED_BY] [varchar](50) NOT NULL CONSTRAINT [DF_T_USER_UPDATED_BY]  DEFAULT ('SYSTEM'),
	[UPDATED_DATE] [datetime] NOT NULL CONSTRAINT [DF_T_USER_UPDATED_DATE]  DEFAULT (getdate()),
	[TIME_STAMP] [timestamp] NOT NULL,
	[VERSION_NO] [bigint] NOT NULL CONSTRAINT [DF_T_USER_VERSION_NO]  DEFAULT ((1)),
 CONSTRAINT [PK_T_USER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[T_USER_ROLE]    Script Date: 2/3/2015 10:13:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_USER_ROLE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[USER_ID] [int] NOT NULL,
	[ROLE_CODE] [varchar](50) NOT NULL,
	[IS_DELETED] [bit] NOT NULL CONSTRAINT [DF_T_USER_ROLE_IS_DELETED_1]  DEFAULT ((0)),
	[CREATED_BY] [varchar](50) NOT NULL CONSTRAINT [DF_T_USER_ROLE_CREATED_BY_1]  DEFAULT ('SYSTEM'),
	[CREATED_DATE] [datetime] NOT NULL CONSTRAINT [DF_T_USER_ROLE_CREATED_DATE_1]  DEFAULT (getdate()),
	[UPDATED_BY] [varchar](50) NOT NULL CONSTRAINT [DF_T_USER_ROLE_UPDATED_BY_1]  DEFAULT ('SYSTEM'),
	[UPDATED_DATE] [datetime] NOT NULL CONSTRAINT [DF_T_USER_ROLE_UPDATED_DATE_1]  DEFAULT (getdate()),
	[TIME_STAMP] [timestamp] NOT NULL,
	[VERSION_NO] [bigint] NOT NULL CONSTRAINT [DF_T_USER_ROLE_VERSION_NO_1]  DEFAULT ((1)),
 CONSTRAINT [PK_T_USER_ROLE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[T_CODE] ON 

INSERT [dbo].[T_CODE] ([ID], [CATEGORY], [CODE], [CODE_DESC]) VALUES (1, N'GRADES', N'L1', N'Level 1')
INSERT [dbo].[T_CODE] ([ID], [CATEGORY], [CODE], [CODE_DESC]) VALUES (2, N'GRADES', N'L2', N'Level 2')
SET IDENTITY_INSERT [dbo].[T_CODE] OFF
INSERT [dbo].[T_FUNCTION] ([FUNCTION_CODE], [FUNCTION_DESC]) VALUES (N'USER_ADD', N'Add new user')
INSERT [dbo].[T_FUNCTION] ([FUNCTION_CODE], [FUNCTION_DESC]) VALUES (N'USER_DEL', N'Delete user')
INSERT [dbo].[T_FUNCTION] ([FUNCTION_CODE], [FUNCTION_DESC]) VALUES (N'USER_EDIT', N'Edit user')
INSERT [dbo].[T_ROLE] ([ROLE_CODE], [ROLE_DESC]) VALUES (N'ADM', N'Admin')
INSERT [dbo].[T_ROLE] ([ROLE_CODE], [ROLE_DESC]) VALUES (N'PUB', N'Public')
SET IDENTITY_INSERT [dbo].[T_ROLE_FUNCTION] ON 

INSERT [dbo].[T_ROLE_FUNCTION] ([ID], [ROLE_CODE], [FUNCTION_CODE]) VALUES (1, N'ADM', N'USER_ADD')
INSERT [dbo].[T_ROLE_FUNCTION] ([ID], [ROLE_CODE], [FUNCTION_CODE]) VALUES (2, N'ADM', N'USER_EDIT')
INSERT [dbo].[T_ROLE_FUNCTION] ([ID], [ROLE_CODE], [FUNCTION_CODE]) VALUES (3, N'ADM', N'USER_DEL')
SET IDENTITY_INSERT [dbo].[T_ROLE_FUNCTION] OFF
SET IDENTITY_INSERT [dbo].[T_USER] ON 

INSERT [dbo].[T_USER] ([ID], [USER_ID], [USER_NAME], [USER_PWD], [GENDER], [MOBILE_NUMBER], [EMAIL_ADDRESS], [GRADE], [IS_DELETED], [CREATED_BY], [CREATED_DATE], [UPDATED_BY], [UPDATED_DATE], [VERSION_NO]) VALUES (1, N'admin', N'Admin', N'123456', N'M', N'87654322', N'abc@abc.com', N'L1', 0, N'admin', CAST(N'2015-01-23 19:58:31.843' AS DateTime), N'admin', CAST(N'2015-01-24 08:51:35.557' AS DateTime), 9)
INSERT [dbo].[T_USER] ([ID], [USER_ID], [USER_NAME], [USER_PWD], [GENDER], [MOBILE_NUMBER], [EMAIL_ADDRESS], [GRADE], [IS_DELETED], [CREATED_BY], [CREATED_DATE], [UPDATED_BY], [UPDATED_DATE], [VERSION_NO]) VALUES (3, N'craig', N'Craig', N'123', N'M', N'87654321', N'abc@abc.com', N'L1', 0, N'SYSTEM', CAST(N'2015-01-23 15:45:33.793' AS DateTime), N'admin', CAST(N'2015-01-25 18:30:14.067' AS DateTime), 2)
INSERT [dbo].[T_USER] ([ID], [USER_ID], [USER_NAME], [USER_PWD], [GENDER], [MOBILE_NUMBER], [EMAIL_ADDRESS], [GRADE], [IS_DELETED], [CREATED_BY], [CREATED_DATE], [UPDATED_BY], [UPDATED_DATE], [VERSION_NO]) VALUES (4, N'jack', N'Jackie', N'123', N'M', N'123', N'abc', N'L1', 0, N'SYSTEM', CAST(N'2015-01-23 15:45:33.793' AS DateTime), N'admin', CAST(N'2015-01-25 18:30:35.457' AS DateTime), 3)
SET IDENTITY_INSERT [dbo].[T_USER] OFF
SET IDENTITY_INSERT [dbo].[T_USER_ROLE] ON 

INSERT [dbo].[T_USER_ROLE] ([ID], [USER_ID], [ROLE_CODE], [IS_DELETED], [CREATED_BY], [CREATED_DATE], [UPDATED_BY], [UPDATED_DATE], [VERSION_NO]) VALUES (1, 1, N'ADM', 0, N'SYSTEM', CAST(N'2015-01-23 22:19:13.410' AS DateTime), N'admin', CAST(N'2015-01-23 22:42:28.200' AS DateTime), 3)
INSERT [dbo].[T_USER_ROLE] ([ID], [USER_ID], [ROLE_CODE], [IS_DELETED], [CREATED_BY], [CREATED_DATE], [UPDATED_BY], [UPDATED_DATE], [VERSION_NO]) VALUES (2, 1, N'PUB', 0, N'SYSTEM', CAST(N'2015-01-23 22:19:13.410' AS DateTime), N'admin', CAST(N'2015-01-24 08:51:35.637' AS DateTime), 7)
INSERT [dbo].[T_USER_ROLE] ([ID], [USER_ID], [ROLE_CODE], [IS_DELETED], [CREATED_BY], [CREATED_DATE], [UPDATED_BY], [UPDATED_DATE], [VERSION_NO]) VALUES (3, 9, N'PUB', 0, N'admin', CAST(N'2015-01-24 09:16:00.990' AS DateTime), N'admin', CAST(N'2015-01-24 09:16:00.990' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[T_USER_ROLE] OFF
ALTER TABLE [dbo].[T_ROLE_FUNCTION]  WITH CHECK ADD  CONSTRAINT [FK_T_ROLE_FUNCTION_T_FUNCTION] FOREIGN KEY([FUNCTION_CODE])
REFERENCES [dbo].[T_FUNCTION] ([FUNCTION_CODE])
GO
ALTER TABLE [dbo].[T_ROLE_FUNCTION] CHECK CONSTRAINT [FK_T_ROLE_FUNCTION_T_FUNCTION]
GO
ALTER TABLE [dbo].[T_ROLE_FUNCTION]  WITH CHECK ADD  CONSTRAINT [FK_T_ROLE_FUNCTION_T_ROLE] FOREIGN KEY([ROLE_CODE])
REFERENCES [dbo].[T_ROLE] ([ROLE_CODE])
GO
ALTER TABLE [dbo].[T_ROLE_FUNCTION] CHECK CONSTRAINT [FK_T_ROLE_FUNCTION_T_ROLE]
GO
ALTER TABLE [dbo].[T_USER_ROLE]  WITH CHECK ADD  CONSTRAINT [FK_T_USER_ROLE_T_ROLE] FOREIGN KEY([ROLE_CODE])
REFERENCES [dbo].[T_ROLE] ([ROLE_CODE])
GO
ALTER TABLE [dbo].[T_USER_ROLE] CHECK CONSTRAINT [FK_T_USER_ROLE_T_ROLE]
GO
ALTER TABLE [dbo].[T_USER_ROLE]  WITH CHECK ADD  CONSTRAINT [FK_T_USER_ROLE_T_USER_ROLE] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[T_USER] ([ID])
GO
ALTER TABLE [dbo].[T_USER_ROLE] CHECK CONSTRAINT [FK_T_USER_ROLE_T_USER_ROLE]
GO
/****** Object:  StoredProcedure [dbo].[P_DELETE_USER_BY_ID]    Script Date: 2/3/2015 10:13:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[P_DELETE_USER_BY_ID]
    @ID INT
AS 
    BEGIN
        SET NOCOUNT ON;
        UPDATE  T_USER
        SET     IS_DELETED = 1
        WHERE   ID = @ID
       
    END



GO
/****** Object:  StoredProcedure [dbo].[P_GET_ALL_ROLES]    Script Date: 2/3/2015 10:13:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[P_GET_ALL_ROLES]
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SELECT [ROLE_CODE],[ROLE_DESC]     
	FROM [dbo].[T_ROLE]
 
END


GO
/****** Object:  StoredProcedure [dbo].[P_GET_ALL_USER]    Script Date: 2/3/2015 10:13:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[P_GET_ALL_USER]
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SELECT [ID]
      ,[USER_ID]
      ,[USER_NAME]
	  ,[GENDER]
	  ,[USER_PWD]
      ,[MOBILE_NUMBER]
      ,[EMAIL_ADDRESS]
	  ,[GRADE]
	FROM [dbo].[T_USER] WHERE IS_DELETED = 0
 
END


GO
/****** Object:  StoredProcedure [dbo].[P_GET_CODES_BY_CATEGORY]    Script Date: 2/3/2015 10:13:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[P_GET_CODES_BY_CATEGORY]
	@CATEGORY VARCHAR(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SELECT [ID]
      ,[CATEGORY]
      ,[CODE]
	  ,[CODE_DESC]	  
	FROM [dbo].[T_CODE] WHERE [CATEGORY] = @CATEGORY
 
END




GO
/****** Object:  StoredProcedure [dbo].[P_GET_FUNCTION_BY_ROLE_CODE]    Script Date: 2/3/2015 10:13:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[P_GET_FUNCTION_BY_ROLE_CODE]
	@ROLE_CODE VARCHAR(50)
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SELECT [ID]
      ,[ROLE_CODE]
      ,[FUNCTION_CODE]
	FROM [dbo].[T_ROLE_FUNCTION] WHERE [ROLE_CODE] = @ROLE_CODE 
 
END



GO
/****** Object:  StoredProcedure [dbo].[P_GET_ROLE_BY_USER_ID]    Script Date: 2/3/2015 10:13:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[P_GET_ROLE_BY_USER_ID]
	@USER_ID INT
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SELECT [ID]
      ,[USER_ID]
      ,[ROLE_CODE]
	  ,[IS_DELETED]
      ,[CREATED_BY]
      ,[CREATED_DATE]
      ,[UPDATED_BY]
      ,[UPDATED_DATE]
      ,[TIME_STAMP]
      ,[VERSION_NO]
	FROM [dbo].[T_USER_ROLE] WHERE [USER_ID] = @USER_ID 
 
END



GO
/****** Object:  StoredProcedure [dbo].[P_GET_USER_BY_ID]    Script Date: 2/3/2015 10:13:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[P_GET_USER_BY_ID]
	@USER_ID INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SELECT [ID]
      ,[USER_ID]
      ,[USER_NAME]
      ,[USER_PWD]
      ,[GENDER]
      ,[MOBILE_NUMBER]
      ,[EMAIL_ADDRESS]
      ,[GRADE]
      ,[IS_DELETED]
      ,[CREATED_BY]
      ,[CREATED_DATE]
      ,[UPDATED_BY]
      ,[UPDATED_DATE]
      ,[TIME_STAMP]
      ,[VERSION_NO]
	FROM [dbo].[T_USER] WHERE ID = @USER_ID AND IS_DELETED = 0
 
END


GO
/****** Object:  StoredProcedure [dbo].[P_GET_USER_BY_NAME_PWD]    Script Date: 2/3/2015 10:13:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[P_GET_USER_BY_NAME_PWD]
	@USER_NAME VARCHAR(500),
	@USER_PWD VARCHAR(500)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SELECT [ID]
      ,[USER_ID]
      ,[USER_NAME]
	  ,[USER_PWD]
      ,[MOBILE_NUMBER]
      ,[EMAIL_ADDRESS]
	FROM [dbo].[T_USER] WHERE @USER_NAME = @USER_NAME AND [USER_PWD] = @USER_PWD
 
END



GO
/****** Object:  StoredProcedure [dbo].[P_GET_USER_BY_USER_NAME]    Script Date: 2/3/2015 10:13:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[P_GET_USER_BY_USER_NAME]
	@USER_NAME VARCHAR(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SELECT [ID]
      ,[USER_ID]
      ,[USER_NAME]
	  ,[USER_PWD]
      ,[MOBILE_NUMBER]
      ,[EMAIL_ADDRESS]
	FROM [dbo].[T_USER] WHERE [USER_NAME] = @USER_NAME
 
END


GO
USE [master]
GO
